<div class="bg-[#2A2829] h-16 flex items-center justify-center text-white text-sm antialiased font-semibold	">
  <div class="flex">
    <div class="m-5">
      Icon
    </div>

    <div class="m-5">
      Order
    </div>

    <div class="m-5">
      Operations
    </div>

    <div class="m-5">
      Inventory
    </div>

    <div class="m-5">
      Sales
    </div>

    <div class="m-5">
      Insights
    </div>

    <div class="m-5">
      Setup
    </div>
  </div>

  <div class="flex ml-80">
    <div class="m-5">
      Logout
    </div>
  </div>
</div>